body {
    background-color: #80caf0;
    border-radius: 25px;
    
}

#div1 {
    width: 500px;
    height: auto;
    background-color: #738ee2;
    margin: auto;
    padding: 10px;
    
}

#div2 {
    width: auto;
    height: auto;
    background-color: #9db7f4;
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    border: 5px solid #555;
    align-items: center;
}

ul {
    flex: 1;
}

ol {
    padding-left: 16px;
}

img {
    width: 200px;
    height: 200px;
    padding: auto;
    margin: 0px;
    flex: 1;
}

